<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav>
  <ul>
    <li><a routerLink="/">Home</a>&nbsp;<i class="fa fa-home"></i></li>
    <li><a routerLink="/about">About</a>&nbsp;<i class="fa fa-info-circle" aria-hidden="true"></i></li>
    <li><a routerLink="/projects">Projects</a>&nbsp;<i class="fa fa-cogs" aria-hidden="true"></i></li>
    <li><a routerLink="/contact">Contact</a>&nbsp;<i class="fa fa-user" aria-hidden="true"></i></li>
  </ul>
</nav>
<router-outlet></router-outlet> 
